<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="kr.hansung.mypi"
    android:versionCode="1"
    android:versionName="1.0" >

    <uses-sdk
        android:minSdkVersion="14"
        android:targetSdkVersion="19" />

    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:allowBackup="true"
        android:icon="@drawable/ic_launcher"
        android:label="@string/app_name"
        android:logo="@drawable/pi_144x44"
        android:theme="@style/AppTheme" >
        <activity
            android:name="kr.hansung.mypi.Intro"
            android:theme="@android:style/Theme.Holo.Light.NoActionBar" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name="kr.hansung.mypi.MainActivity"
            android:label="메인화면"
            android:theme="@style/MyPIActionBarTheme" >
        </activity>
        <activity
            android:name="kr.hansung.mypi.SignUpActivity"
            android:label="회원가입"
            android:theme="@style/MyPIActionBarTheme" >
        </activity>
        <activity
            android:name="kr.hansung.mypi.ResultActivity"
            android:label="검색결과"
            android:theme="@style/MyPIActionBarTheme" >
        </activity>
        <activity
            android:name="kr.hansung.mypi.ChangeInfoActivity"
            android:label="정보수정"
            android:theme="@style/MyPIActionBarTheme" >
        </activity>
        <activity
            android:name="kr.hansung.mypi.DynamicResultActivity"
            android:label="@string/title_activity_dynamic_result"
            android:theme="@style/MyPIActionBarTheme" >
        </activity>
    </application>

</manifest>